@import '_mixins';
.header{
    background-color: $blacky;
    &__wrapper{
        width: 90%;
        margin: auto;
        @include flexible (row, nowrap, space-between, center);
        padding: 1rem 0;
    }
    &__h1{
        font-size: 1rem;
        color: $white;
    }
    &__span{
        color: $white;
        font-size: 1rem;
    }
}