@import '_mixins';

.main{
    padding-top: .6rem;
    background-color: $blacky;
    width: 100%;
    &__line{
        height: .1rem;
        width: 100%;
        background-color: $white;
        margin-bottom: .4rem;
    }
    &__box{
        width: 100%;
        background-color: $white;
        height: 2.8rem;
    }
    &__wrapper{
        padding-top: 4rem;
        width: 90%;
        margin: auto;
    }
    &__months{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        @include respond-above(sm) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include respond-above(md) {
            grid-template-columns: repeat(3, 1fr);
        }
        @include respond-above(xl) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    &__month{
        margin-top: .4rem;
        padding: .5rem 1rem 1rem;
        //background-color: $white;
        border-radius: 3rem;
        margin-right: 4rem;
        margin-bottom: 6rem;
    }
    &__month.grey{
        background-color: white;
    }
    &__month.grey.feb{
        padding-bottom: 2rem;
    }
    &__day.enunciate.grey{
        color: $white;
    }
    &__day.grey{
        color: #373737;
    }
    &__h2.grey{
        color: #373737;
    }
    &__h2{
        width: 100%;
        margin: auto;
        text-align: center;
        color: white;
        margin-bottom: .5rem;
        text-transform: uppercase;
    }
    &__weekdays{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
    &__day{
        text-align: center;
        color: white;
    }
    &__day.enunciate{
        color: $lightgray; //#373737;
        text-align: center;
        margin-bottom: 1rem;
    }
}